<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myplamjumpgame">

    <application
        android:theme="@style/Theme.MyPlamJumpGame">
        <!-- 主界面Activity -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="reverseLandscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 游戏界面Activity -->
        <activity
            android:name=".game"
            android:screenOrientation="reverseLandscape"
            android:configChanges="orientation|screenSize"/>
    </application>
</manifest>